body {
    background-color: sienna;
    color: beige;
}
h1 {
    background-color: rgb(165, 83, 42);
    color: whitesmoke;
    padding: 20px;
    border-radius: 0 0 10px beige;
    border-style: groove;
}